.btn {
    background-color: none;
    color:black;
    font-weight: bold;
    border: 1px;
    border-radius: 8px;
    border-style: solid;
    border-color: #c1c1c1;
    top:60px;
    left:30px;
    padding: 8px;
    gap: 8px;
    width: 90px;
    height: 35px;
}